*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --white: #FDFCFC;
  --yellow: #DEF645;
  --pink: #E597D0;
  --purple: #6A46B8;
  --grey: #C5BBBB;
  --black: #000000;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
}

body {
  padding: 2.4rem;
  margin: 0;
  min-height: 100dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media all and (min-width: 720px) {
  body {
    padding: 3.2rem;
  }
}

/* Font size */
h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-family: "pp_neue_montrealbook", "Courier New", Courier, monospace;
}

button, input, label {
  font-family: "pp_neue_montrealbook", "Courier New", Courier, monospace;
  font-size: clamp(1.6rem, 3vw, 2.4rem);
}

h1 {
  font-size: clamp(2rem, 3vw, 3.2rem);
  font-weight: 600;
}

p, span {
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  font-weight: 600;
}

@font-face {
  font-family: "pp_neue_montrealbold";
  src: url("../fonts/ppneuemontreal-bold-webfont.woff2") format("woff2"), url("../fonts/ppneuemontreal-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "pp_neue_montrealbook";
  src: url("../fonts/ppneuemontreal-book-webfont.woff2") format("woff2"), url("../fonts/ppneuemontreal-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_neue_montrealitalic";
  src: url("../fonts/ppneuemontreal-italic-webfont.woff2") format("woff2"), url("../fonts/ppneuemontreal-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "pp_neue_montrealmedium";
  src: url("ppneuemontreal-medium-webfont.woff2") format("woff2"), url("ppneuemontreal-medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal;
}
/* Font size */
.todolist {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid var(--black);
  border-radius: 2.4rem;
}

/* Header */
.todolist__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.2rem;
}
.todolist__header-title {
  font-size: clamp(2rem, 3vw, 3.2rem);
  font-weight: 600;
  color: var(--black);
}
@media all and (min-width: 720px) {
  .todolist__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.2rem;
  }
}

/* Categories */
.todolist__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 6rem;
  padding: 0 1.2rem;
  gap: 1.2rem;
}
@media all and (min-width: 720px) {
  .todolist__categories {
    height: 7.2rem;
    padding: 0 2.4rem;
    gap: 2.4rem;
  }
}

/* Footer */
.todolist__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.2rem;
  gap: 1.2rem;
}

.todolist__add-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}

/* Input */
.todolist__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.2rem;
}
@media all and (min-width: 720px) {
  .todolist__input {
    gap: 2.4rem;
  }
}
.todolist__input-button {
  position: relative;
}
.todolist__input-button::before {
  position: absolute;
  z-index: -1;
  inset: 0 0 0 0;
  content: "";
  border-radius: 50%;
  background-color: var(--purple);
}

.input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 4.8rem;
  padding: 1.2rem;
  border: 2px solid var(--grey);
  border-radius: 2.4rem;
  background-color: transparent;
  color: var(--black);
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  font-weight: 600;
}
@media all and (min-width: 720px) {
  .input {
    height: 6rem;
    border-radius: 3.2rem;
  }
}
.input::-webkit-input-placeholder {
  font-family: "pp_neue_montrealbook", "Courier New", Courier, monospace;
  font-weight: 600;
  color: var(--grey);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.input::-moz-placeholder {
  font-family: "pp_neue_montrealbook", "Courier New", Courier, monospace;
  font-weight: 600;
  color: var(--grey);
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.input:-ms-input-placeholder {
  font-family: "pp_neue_montrealbook", "Courier New", Courier, monospace;
  font-weight: 600;
  color: var(--grey);
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.input::-ms-input-placeholder {
  font-family: "pp_neue_montrealbook", "Courier New", Courier, monospace;
  font-weight: 600;
  color: var(--grey);
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.input::placeholder {
  font-family: "pp_neue_montrealbook", "Courier New", Courier, monospace;
  font-weight: 600;
  color: var(--grey);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.input:focus {
  outline: none;
  border-color: var(--black);
}
.input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transform: translateY(-2.4rem);
          transform: translateY(-2.4rem);
}
.input:focus::-moz-placeholder {
  opacity: 0;
  transform: translateY(-2.4rem);
}
.input:focus:-ms-input-placeholder {
  opacity: 0;
  transform: translateY(-2.4rem);
}
.input:focus::-ms-input-placeholder {
  opacity: 0;
  transform: translateY(-2.4rem);
}
.input:focus::placeholder {
  opacity: 0;
  -webkit-transform: translateY(-2.4rem);
          transform: translateY(-2.4rem);
}

/* Tasks list*/
.todolist__tasks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
}

.task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem;
  gap: 1.2rem;
  border-bottom: 2px solid var(--black);
}

.task-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  margin: 0;
  width: 3.2rem;
  height: 3.2rem;
  border: 2px solid var(--grey);
  position: relative;
}
@media all and (min-width: 720px) {
  .task-checkbox {
    width: 4.8rem;
    height: 4.8rem;
  }
}
.task-checkbox:after {
  display: none;
  position: absolute;
  inset: 0 0 0 0;
  content: "";
  background-image: url("../icons/check.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.task-checkbox:hover {
  border-color: var(--black);
}
.task-checkbox:checked {
  border-color: var(--black);
  background-color: var(--yellow);
}
.task-checkbox:checked:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-checkbox:checked + .task-content {
  text-decoration: line-through;
}

.task-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem 1.2rem;
  border-radius: 2.4rem;
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  font-weight: 600;
  color: var(--black);
}
@media all and (min-width: 720px) {
  .task-content {
    height: 4.8rem;
    padding: 0.6rem 2.4rem;
  }
}

/* Delete */
.task__delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.todolist__delete-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: auto;
}
.todolist__delete-all::before {
  position: absolute;
  inset: 0 0 0 0;
  content: "";
  border-radius: 3.2rem;
  background-color: var(--black);
}

/* Font size */
.radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.btn-category {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.6rem 1.2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  font-weight: 600;
  border: 2px solid var(--black);
  border-bottom: none;
  border-top-right-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
  color: var(--black);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
@media all and (min-width: 720px) {
  .btn-category:hover {
    padding: 1.2rem 1.2rem;
  }
}

.category-selected, .category-selected.btn-category:hover {
  padding: 1.3rem 1.3rem;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btn-category--all.category-selected {
  background-color: var(--pink);
  border-bottom: 2px var(--pink);
}

.btn-category--active.category-selected {
  background-color: var(--grey);
  border-bottom: 2px var(--grey);
}

.btn-category--completed.category-selected {
  background-color: var(--yellow);
  border-bottom: 2px var(--yellow);
}

.btn--submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  border: 2px solid;
  border-radius: 50%;
  border-color: var(--purple);
  background-color: var(--white);
  background-image: url("../icons/add--active.svg");
  background-position: center;
  background-repeat: no-repeat;
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  font-weight: 600;
  cursor: pointer;
  -webkit-transform: translate(-0.4rem, -0.4rem);
          transform: translate(-0.4rem, -0.4rem);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn--submit[disabled] {
  cursor: default;
  border-color: var(--grey);
  background-image: url("../icons/add--disabled.svg");
  -webkit-transform: none;
          transform: none;
}
.btn--submit[disabled] div:has(.todolist__input::before) {
  color: red;
  background-color: red;
}
@media all and (min-width: 720px) {
  .btn--submit {
    -webkit-transform: none;
            transform: none;
    width: 6rem;
    height: 6rem;
  }
  .btn--submit:not([disabled]):hover {
    -webkit-transform: translate(-0.4rem, -0.4rem);
            transform: translate(-0.4rem, -0.4rem);
  }
}

.btn-delete {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  gap: 1.2rem;
  background: transparent;
  background-image: url("/icons/delete--default.svg");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--black);
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  line-height: 0;
  cursor: pointer;
}
@media all and (min-width: 720px) {
  .btn-delete {
    width: 4.8rem;
    height: 4.8rem;
  }
}
.btn-delete:hover {
  background-image: url("/icons/delete--hover.svg");
}

.btn-delete-all {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.8rem;
  border: 2px solid var(--black);
  border-radius: 2.4rem;
  padding: 0.6rem 2.4rem;
  background-color: var(--white);
  color: var(--black);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate(-0.4rem, -0.4rem);
          transform: translate(-0.4rem, -0.4rem);
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  font-weight: 600;
  z-index: 1;
}
.btn-delete-all[disabled] {
  cursor: default;
  color: var(--grey);
  border-color: var(--grey);
  -webkit-transform: none;
          transform: none;
}
@media all and (min-width: 720px) {
  .btn-delete-all {
    height: 6rem;
    border-radius: 3.2rem;
    -webkit-transform: none;
            transform: none;
  }
  .btn-delete-all:not([disabled]):hover {
    -webkit-transform: translate(-0.4rem, -0.4rem);
            transform: translate(-0.4rem, -0.4rem);
  }
}

/* Font size */ /* Utilities */
.flex--1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.z-index--1 {
  z-index: -1;
}

.color--black {
  color: var(--black);
}

.hidden {
  display: none;
}