@import './mixins';

.btn {
    border-radius: 4.8rem;
}

.radio {
    appearance: none;
    position: absolute;
}

.btn-category {
    cursor: pointer;
    display: flex;
    padding: .6rem 1.2rem;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.6rem, 3vw, 2.4rem);
    font-weight: 400;
    border: 1px solid var(--black);
    color: var(--black);
    transition: all .1s ease-in;
    @include mq-720 {
        opacity: .7;
    }
}
.btn-category:hover {
    @include mq-720 {
        opacity: 1;
        border-color: var(--green);
    }
}

.category-selected {
    border-color: var(--green);
    background-color: var(--green);
    @include mq-720 {
        opacity: 1;
    }
}

.submit {
    border: none;
    border-radius: 2.4rem;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: .6rem 2.4rem;
    font-size: clamp(1.6rem, 3vw, 2.4rem);
    transition: all .2s;
    @include mq-720 {
        border: 1px solid var(--black);
        background-color: transparent;
        color: var(--black);
    }
}

.submit:hover {
    background-color: var(--black);
    color: var(--white);
}

.btn-delete {
    appearance: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    gap: 1.2rem;
    background: transparent;
    background-image: url("/icons/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: var(--black);
    font-size: clamp(1.6rem, 3vw, 2.4rem);
    line-height: 0;
    cursor: pointer;

    @include mq-720 {
        width: 4.8rem;
        height: 4.8rem;
        &:hover {
            border: 1px solid var(--black);
            border-radius: 50%;
        }
    }
}

.btn-delete-all {
    appearance: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border: 1px solid var(--black);
    padding: .6rem 2.4rem;
    gap: 1.2rem;
    background-color: transparent;
    color: var(--black);
    transition: all .2s ease-in-out;
    cursor: pointer;
    font-size: clamp(1.6rem, 3vw, 2.4rem);
}

.btn-delete-all:hover {
    background-color: var(--black);
    color: var(--white);
}