@import './mixins';
@import './variables';
.todolist {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--black);
    border-radius: 2.4rem;
}

/* Header */
.todolist__header {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;

    &-title {
        font-size: $fs--m;
        font-weight: 600;
        color: var(--black);
    }

    @include mq-720 {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.2rem;
    }
}


/* Categories */
.todolist__categories {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 6rem;
    padding: 0 1.2rem;
    gap: 1.2rem;
    @include mq-720 {
        height: 7.2rem;
        padding: 0 2.4rem;
        gap: 2.4rem;
    }
}

/* Footer */
.todolist__footer {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    gap: 1.2rem;
}

/* Input */
.todolist__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
    @include mq-720 {
        gap: 2.4rem;
    }
    &-button {
        position: relative;
        &::before {
            position: absolute;
            z-index: -1;
            inset: 0 0 0 0;
            content: '';
            border: 2px solid;
            border-radius: 50%;
            color: var(--purple);
            background-color: var(--purple);
        }
    }
 
}
.input {
    appearance: none;
    flex: 1;
    height: 4.8rem;
    padding: 1.2rem;
    border: 2px solid var(--grey);
    border-radius: 2.4rem;
    background-color: transparent;
    color: var(--black);
    font-size: $fs--s;
    font-weight: 600;
    @include mq-720 {
        height: 6rem;
        border-radius: 3.2rem;
    }
    &::placeholder {
        font-family: 'pp_neue_montrealbook', 'Courier New', Courier, monospace;
        font-weight: 600;
        color: var(--grey);
        transition: all .2s ease-in-out;
    }
    &:focus {
        outline: none;
        border-color: var(--black);
        &::placeholder {
            opacity: 0;
            transform: translateY(-2.4rem);
        }
    }
}



/* Tasks list*/

.todolist__tasks-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}

.task-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.2rem;
    gap: 1.2rem;
    border-bottom: 2px solid var(--black);
}

.task-checkbox {
    appearance: none;
    cursor: pointer;
    margin: 0;
    width: 3.2rem;
    height: 3.2rem;
    border: 2px solid var(--grey);
    position: relative;

    @include mq-720 {
        width: 4.8rem;
        height: 4.8rem;
    }
    &:after {
        display: none;
        position: absolute;
        inset: 0 0 0 0;
        content: '';
        background-image: url('../icons/check.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
    &:hover {
        border-color: var(--black);
    }

    &:checked {
        border-color: var(--black);
        background-color: var(--yellow);

        &:after {
            display: flex;
        }
    }
    
}

.task-checkbox:checked + .task-content {
    text-decoration:line-through;
}

.task-content {
    flex: 1;
    display: flex;
    align-items: center;
    padding: .6rem 1.2rem;
    border-radius: 2.4rem;
    font-size: $fs--s;
    font-weight: 600;
    color: var(--black);

    @include mq-720 {
        height: 4.8rem;
        padding: .6rem 2.4rem;
    }
}

/* Delete */

.task__delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.todolist__delete-all {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2.4rem;
    @include mq-720 {
       padding: 3.2rem;
    }
}



