*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --main: #444BFF;
    --secondary: #5FB96D;
    --delete: #DD4D4D;
    --grey-100: #EEEEEC;
    --grey-200: #CBCBCB;
    --white: #FDFDFD;
    --black: #000000;
    font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--grey-100);
}
