@import './mixins';

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --white: #FDFCFC;
    --yellow: #DEF645;
    --pink: #E597D0;
    --purple: #6A46B8;
    --grey: #C5BBBB;
    --black: #000000;
    font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 62.5%;
}

body {
    padding: 2.4rem;
    margin: 0;
    min-height: 100dvh;
    display: flex;
    @include mq-720 {
        padding: 3.2rem;
    }
}
