*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --black: oklch(43.13% 0 0);
  --white: oklch(98.73% 0.004 106.47);
  --grey-100: oklch(74.44% 0 0);
  --grey-200: oklch(94.12% 0.024 117.05);
  --green: oklch(92.03% 0.209 118.17);
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-family: "pp_neue_montrealbook", "Courier New", Courier, monospace;
}

button, input, label {
  font-family: "pp_neue_montrealbook", "Courier New", Courier, monospace;
}

h1 {
  font-size: clamp(2.4rem, 4vw, 3.2rem);
  font-weight: 400;
}

h2 {
  font-size: clamp(1.8rem, 4vw, 2.4rem);
  font-weight: 400;
}

@font-face {
  font-family: "pp_neue_montrealbold";
  src: url("../fonts/ppneuemontreal-bold-webfont.woff2") format("woff2"), url("../fonts/ppneuemontreal-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "pp_neue_montrealbook";
  src: url("../fonts/ppneuemontreal-book-webfont.woff2") format("woff2"), url("../fonts/ppneuemontreal-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_neue_montrealitalic";
  src: url("../fonts/ppneuemontreal-italic-webfont.woff2") format("woff2"), url("../fonts/ppneuemontreal-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "pp_neue_montrealmedium";
  src: url("ppneuemontreal-medium-webfont.woff2") format("woff2"), url("ppneuemontreal-medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal;
}
.todolist {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--white);
  padding: 2.4rem;
  gap: 2.4rem;
}
@media all and (min-width: 720px) {
  .todolist {
    padding: 4.8rem;
  }
}

/* Header */
.todolist__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.todolist__header > h1 {
  font-size: clamp(4.8rem, 6vw, 6.4rem);
  font-weight: 400;
  text-align: center;
  color: var(--black);
}
.todolist__header > h2 {
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  text-align: center;
  color: var(--grey-100);
}
@media all and (min-width: 720px) {
  .todolist__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* Categories */
.todolist__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px;
}

/* Input */
.todolist__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.2rem;
}

.input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1.2rem;
  border: none;
  border-bottom: 1px solid var(--black);
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  background-color: transparent;
  color: var(--black);
}
.input:focus {
  border-color: var(--black);
}

.input::-webkit-input-placeholder {
  font-family: "pp_neue_montrealbook", "Courier New", Courier, monospace;
  font-weight: 400;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.input::-moz-placeholder {
  font-family: "pp_neue_montrealbook", "Courier New", Courier, monospace;
  font-weight: 400;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.input:-ms-input-placeholder {
  font-family: "pp_neue_montrealbook", "Courier New", Courier, monospace;
  font-weight: 400;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.input::-ms-input-placeholder {
  font-family: "pp_neue_montrealbook", "Courier New", Courier, monospace;
  font-weight: 400;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.input::placeholder {
  font-family: "pp_neue_montrealbook", "Courier New", Courier, monospace;
  font-weight: 400;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.input:focus {
  outline: none;
}
.input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transform: translateY(-2.4rem);
          transform: translateY(-2.4rem);
}
.input:focus::-moz-placeholder {
  opacity: 0;
  transform: translateY(-2.4rem);
}
.input:focus:-ms-input-placeholder {
  opacity: 0;
  transform: translateY(-2.4rem);
}
.input:focus::-ms-input-placeholder {
  opacity: 0;
  transform: translateY(-2.4rem);
}
.input:focus::placeholder {
  opacity: 0;
  -webkit-transform: translateY(-2.4rem);
          transform: translateY(-2.4rem);
}

/* Tasks list*/
.todolist__tasks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}

.task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
}

.task-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  margin: 0;
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid var(--black);
  position: relative;
}
@media all and (min-width: 720px) {
  .task-checkbox {
    width: 4.8rem;
    height: 4.8rem;
  }
}
.task-checkbox:checked {
  background-color: var(--black);
}
.task-checkbox:checked:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.4rem;
  font-weight: 300;
  content: "X";
  color: var(--white);
}

.task-checkbox:checked + .task-content {
  text-decoration: line-through;
}

.task-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem 1.2rem;
  border-radius: 2.4rem;
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  color: var(--black);
  background-color: var(--grey-200);
}
@media all and (min-width: 720px) {
  .task-content {
    height: 4.8rem;
    padding: 0.6rem 2.4rem;
  }
}

/* Delete */
.task__delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.todolist__delete-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  border-radius: 4.8rem;
}

.radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.btn-category {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.6rem 1.2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  font-weight: 400;
  border: 1px solid var(--black);
  color: var(--black);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
@media all and (min-width: 720px) {
  .btn-category {
    opacity: 0.7;
  }
}

@media all and (min-width: 720px) {
  .btn-category:hover {
    opacity: 1;
    border-color: var(--green);
  }
}

.category-selected {
  border-color: var(--green);
  background-color: var(--green);
}
@media all and (min-width: 720px) {
  .category-selected {
    opacity: 1;
  }
}

.submit {
  border: none;
  border-radius: 2.4rem;
  background-color: var(--black);
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media all and (min-width: 720px) {
  .submit {
    border: 1px solid var(--black);
    background-color: transparent;
    color: var(--black);
  }
}

.submit:hover {
  background-color: var(--black);
  color: var(--white);
}

.btn-delete {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  gap: 1.2rem;
  background: transparent;
  background-image: url("/icons/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: var(--black);
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  line-height: 0;
  cursor: pointer;
}
@media all and (min-width: 720px) {
  .btn-delete {
    width: 4.8rem;
    height: 4.8rem;
  }
  .btn-delete:hover {
    border: 1px solid var(--black);
    border-radius: 50%;
  }
}

.btn-delete-all {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border: 1px solid var(--black);
  padding: 0.6rem 2.4rem;
  gap: 1.2rem;
  background-color: transparent;
  color: var(--black);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: clamp(1.6rem, 3vw, 2.4rem);
}

.btn-delete-all:hover {
  background-color: var(--black);
  color: var(--white);
}

/* Utilities */
.hidden {
  display: none;
}

.flex--1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.z-index--1 {
  z-index: -1;
}

.color--black {
  color: var(--black);
}